@model IEnumerable<DemoSecurityApp.Models.User>

@{
    ViewBag.Title = "UserList";
}

<h2>UserList</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table>
    <tr>
        <th>SNo.
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>Operations</th>
    </tr>
    @{int i = 0;}
    @foreach (var item in Model)
    {
        i++;
        <tr>
            <td>
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { data_feature = "editU" })
                <span data-feature="detailsU">| @Html.ActionLink("Details", "Details", new { id = item.ID }, null)</span>
                <span data-feature="deleteU">| @Html.ActionLink("Delete", "Delete", new { id = item.ID }, null)</span>
            </td>
        </tr>
    }

</table>
